

  <form (submit)="deactivateListing()">
    <button>Deactivate listing</button>
    </form>

  <form (submit)="activateListing()">
    <button>Activate listing</button>
    </form>

  <form (submit)="likeListing()">
     <button>Like this apartment</button>
    </form>

  <a href="/login?returnPath=/apartments/{{ apartment.id }}">Login to LIKE this apartment</a>

<h1>Rent: ${{ apartment.rent }}</h1><br><br>
<div>
{{ apartment.address }}<br>
{{ apartment.city }}, {{ apartment.state }}
{{ apartment.zip_code }}<br><br>
</div>
<ul>
  <li><b>Bedrooms: {{ apartment.number_of_bedrooms }}</b></li>
  <li><b>Bathrooms: {{ apartment.number_of_bathrooms }}</b></li>
  <li><b>Square Footage: {{ apartment.square_footage }}</b></li>

</ul>
